DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_GUILD_ID=
DISCORD_REPORT_CHANNEL_ID=
DISCORD_ADMIN_USER_IDS=
DISCORD_ROLE_IDS=
DISCORD_ROLE_IDS_HELP_UPDATE=
DISCORD_USER_IDS_HELP_UPDATE=0
DISCORD_USER_IDS_CLEARED_IMAGES=0
